.Card-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 270px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Card-background-decor {
    position: absolute;
    width: 100%;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.Card-background-decor-top {
    top: 0;
    right: 0;
    background-position: top right;
    background-image: url(../../resources/decortop.png);
}

.Card-header-wrapper {
    display: flex;
    background-color: #fffc;
    border: none;
    border-radius: 10px;
    position: absolute;
    padding: 25px 63px;
    top: 58px;
    left: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 94px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.Card-header-wrapper:hover .Card-header {
    color: black;
}

.Card-Content {
    pointer-events: auto;
    background: none;
    border: none;
    position: absolute;
    top: 270px;
}

.Separator-tilted {
    opacity: 1;
    margin: 0;
    transform: rotate(0.41deg);
    position: absolute;
    width: 100%;
    top: 270px;
}

.Card-header-name {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Card-header-back {
    width: 50px;
    line-height: 94px;
    padding-right: 20px;
    transition: .3s ease-out;
}

.Card-header-wrapper:hover .Card-header-back {
    transform: translateX(-50px);
}
