.Registry-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 270px;
    padding-left: 270px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.Registry-background-decor {
    position: absolute;
    width: 100%;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.Registry-background-decor-top {
    top: 0;
    right: 0;
    background-position: top right;
    background-image: url(../../resources/decortop.png);
}

.Registry-background-decor-bottom {
    bottom: 0;
    left: 0;
    background-position: bottom left;
    background-image: url(../../resources/decorbottom.png);
}

.Registry-header-wrapper {
    display: flex;
    background-color: #fffc;
    border: none;
    border-radius: 10px;
    position: absolute;
    padding: 25px 63px;
    top: 58px;
    left: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 94px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.Registry-header-wrapper:hover .Registry-header {
    color: black;
}

.Registry-Content {
    pointer-events: auto;
    background: none;
    border: none;
    position: absolute;
    top: 270px;
}

.Separator-tilted {
    opacity: 1;
    margin: 0;
    transform: rotate(0.41deg);
    position: absolute;
    width: 100%;
    top: 270px;
}

.Registry-input {
    min-width: 600px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    border: 2px solid rgba(169, 172, 165);
    border-radius: 0;
    padding: 0.5rem 1rem 0.5rem calc(1rem + 40px); 
}

.Registry-input-wrapper {
    position: relative;
    margin: 40px 0 20px;
}

.Registry-input-wrapper::before {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0.5rem;
    top: calc(50% - 20px);
    content: "";
    background-image: url(../../resources/search.png);
}

.Registry-header-back {
    width: 50px;
    line-height: 94px;
    padding-right: 20px;
    transition: .3s ease-out;
}

.Registry-header-wrapper:hover .Registry-header-back {
    transform: translateX(-50px);
}
