.Registry-Table {
    font-size: 24px;
    font-weight: 300;
    border-style: none;
}

.Registry-scroll {
    overflow-y: scroll;
    max-height: 450px;
}

.table>thead {
    height: 100px;
    background-color: white;
    vertical-align: middle;
    position: sticky;
    top: 0;
}

tr {
    height: 70px;
}

tr>a {
    height: 70px;

}

tr:nth-child(odd):not(thead>tr) {
    background-color: rgba(169, 206, 196, .5);
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1rem;
}

.table>:not(caption)>*>th {
    padding-right: 50px;
}

th {
    font-weight: 500;
    white-space: pre;
}

th::after {
    display: inline-block;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    content: "";
    background-image: url(../../resources/sorting.png);
}

th.ascending::after {
    background-image: url(../../resources/sorting_asc.png);
}

th.descending::after {
    background-image: url(../../resources/sorting_desc.png);
}

td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
    color: black;
}

td:nth-child(2) {
    font-weight: 600;
}